<div>Votre panier ({{articles.length}} items)</div>
<div class="listArticle">
    <ng-container *ngFor="let article of articles">
        <div class="article">
            NOM:{{article.DENOMINATIONMEDICAMENT}}<br>
            SUB:{{article.DENOMATIONSUBSTANCE}}<br>
            DE: {{article.TITULAIRE}}<br>
            SousTotal: <input type="number" size="1" min="0" max="99" [value]="article.QUANTITE" (change)="updateQuantite(article,$event)"> * {{article.PRIX}} = {{article.QUANTITE * article.PRIX}}€
        </div>
    </ng-container>
</div>
<ng-container *ngIf="articles.length > 0">
    <div>
        TOTAL: {{totalPanier}}€
    </div>
    <button mat-button (click)="validerPanier()">Valider Panier</button>
</ng-container>

