<div>Votre panier ({{articles.length}} items)</div>
<div class="listArticle">
    <ng-container *ngFor="let article of articles">
        <div class="article">
            NOM:{{article.DENOMINATIONMEDICAMENT}}<br>
            SUB:{{article.DENOMATIONSUBSTANCE}}<br>
            DE: {{article.titulaire}}<br>
            <!--SousTotal: <input type="number" size="1" min="0" max="99" [value]="article.quantite" (change)="updateQuantite(article,$event)"> * {{article.prix}} = {{convert.decimal(article.quantite * article.prix)}}€-->
            SousTotal: {{article.quantite}} * {{article.prix}} = {{convert.decimal(article.quantite * article.prix)}}€
        </div>
    </ng-container>
</div>
<ng-container *ngIf="articles.length > 0">
    <div>
        TOTAL: {{totalPanier}}€
    </div>
    <button mat-button (click)="validerPanier()">Valider Panier</button>
</ng-container>

