<ng-container>
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="annouceSortChange($event)"
           class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="nom">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Nom Médicament</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.DENOMINATIONMEDICAMENT}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="presentation">
            <mat-header-cell *matHeaderCellDef mat-sort-header> presentation</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.LIBELLEPRESTATION}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="substance">
            <mat-header-cell *matHeaderCellDef mat-sort-header> subtance</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.DENOMATIONSUBSTANCE}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fournisseur">
            <mat-header-cell *matHeaderCellDef mat-sort-header> fournisseur</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.TITULAIRE}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="prix">
            <mat-header-cell *matHeaderCellDef mat-sort-header> prix</mat-header-cell >
            <mat-cell *matCellDef="let element"> {{element.PRIX}} </mat-cell>
        </ng-container>
        <!-- Symbol Column
        <ng-container matColumnDef="panier">
            <th mat-header-cell *matHeaderCellDef> Ajouter au panier </th>
            <td mat-cell> add cart </td>
        </ng-container>-->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row >
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 (click)="addArticleToPanier(row)"
                 [class.demo-row-is-clicked]="clickedRows.has(row)"
        ></mat-row>
    </mat-table>

</ng-container>

