<table mat-table [dataSource]="dataSource" matSort (matSortChange)="annouceSortChange($event)" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="mollecule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mollécule </th>
        <td mat-cell *matCellDef="let element"> {{element.mollecule}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fournisseur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fournisseur </th>
        <td mat-cell *matCellDef="let element"> {{element.fournisseur}} </td>
    </ng-container>

    <!-- Symbol Column
    <ng-container matColumnDef="panier">
        <th mat-header-cell *matHeaderCellDef> Ajouter au panier </th>
        <td mat-cell> add cart </td>
    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


