.flex{
    display:flex;
    justify-content: space-between;
    vertical-align: center;
    flex-wrap: wrap;
    padding: 2%;
}

.column{
  display:flex;
  justify-content: space-between;
  vertical-align: center;
  flex-direction: column;
  min-height: 80vh;
}
.commandeType{
  width: 30vh;
  border: 1px dotted;
  height: 90%;
  align-self: center;
}
.recherche{
  width: 80vw;
}

.panier{
    border: 1px solid black;
    min-height:  80vh;
    width: 15vw;
    /*overflow: scroll;
    height: 60vh;*/
}

.resultat{
  border: 1px solid;
}

.logo{
  max-height: 80px;
  text-align:center;
  margin-left: 30vw;
}

button{
  float: right;
  margin: 25px 30px 0 0;
    padding-tops: 5vh;
}


@media screen and (max-width: 800px){
    .logo{
        height: 30px;
        text-align:left;
    }

    button{
        float: right;
        margin-top: 100px;
    }

}
