<ng-container>
    <mat-accordion multi>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="data-title"> Rechercher un médicament</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="filtre">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Médicament</mat-label>
                        <input matInput placeholder="Ex.doliprane">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Mollécule</mat-label>
                        <input matInput placeholder="Ex.paracétamol">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Fournisseur</mat-label>
                        <input matInput placeholder="Ex.boiron">
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</ng-container>
<!--
<div class="page">
    <form>
        <mat-checkbox (change)="filterByName($event)">Nom de médicament</mat-checkbox>
        <mat-checkbox (change)="filterByMolecule($event)">molecule</mat-checkbox>
        <mat-checkbox (change)="filterByFurnisher($event)">fournisseur</mat-checkbox>
    </form>
    <button mat-button>Rechercher</button>
</div>-->
