#page{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  border: 2px solid #38BD4F;
  padding: 20px;
  width: 500px;
  height: 190px;
}

div{
  margin-bottom: 0.5vh;
}

.logo{
  flex: center;
}

input{
  width : 25vw;
}

@media screen and (max-width: 800px){
  #page {
    width: auto;
    height: auto;
  }
}
